[user]
	email = 21313205+apuspac@users.noreply.github.com
	name = apuspac



[init]
	defaultBranch = main
[ghq]
	root = ~/src

[url "git@github.com:"]
  insteadOf= https://github.com/

; pushのみをsshでやる場合。 
; [url "git@github.com:"]
;   pushInsteadOf= https://github.com/

